@inject IViewLocalizer _localizer
@model SupplierIndexViewModel

<div class="container">
    <h1>@_localizer["Suppliers"]</h1>
</div>

<a asp-controller="Suppliers" asp-action="CreateSupplier" class="btn btn-primary">@_localizer["Create New"]</a>

@TempData["SupplierMessage"]
<div>
    <table class="table">
        <tr class="d-flex">
            <td class="table- col-2">
            </td>
            <td class="col-8">
                <div class="m-1">
                    <a asp-controller="Suppliers" asp-action="Index" asp-route-status="@SelectionOptions.All" asp-route-batch="@SelectionOptions.All" 
                       class="@((Model.Status == SelectionOptions.All && Model.Batch == SelectionOptions.All)?"btn btn-info":"btn btn-light")">@_localizer["All"]</a>
                    <a asp-controller="Suppliers" asp-action="Index" asp-route-status="@SelectionOptions.Active" asp-route-batch="@SelectionOptions.All" 
                       class="@((Model.Status == SelectionOptions.Active && Model.Batch == SelectionOptions.All)?"btn btn-info":"btn btn-light")">@_localizer["Active"]</a>
                    <a asp-controller="Suppliers" asp-action="Index" asp-route-status="@SelectionOptions.Active" asp-route-batch="@SelectionOptions.Active" 
                       class="@((Model.Status == SelectionOptions.Active && Model.Batch == SelectionOptions.Active)?"btn btn-info":"btn btn-light")">@_localizer["Active Batch"]</a>
                    <a asp-controller="Suppliers" asp-action="Index" asp-route-status="@SelectionOptions.Passive" asp-route-batch="@SelectionOptions.All" 
                       class="@((Model.Status == SelectionOptions.Passive && Model.Batch == SelectionOptions.All)?"btn btn-info":"btn btn-light")">@_localizer["Passive"]</a>
                </div>
                <table class="table table-bordered">
                    <tr class="d-flex">
                        <th class="col-1">
                            @_localizer["Id"]
                        </th>
                        <th class="col-3">
                            @_localizer["Name"]
                        </th>
                        <th class="col-1">
                            @_localizer["Batch Sup?"]
                        </th>
                        <th class="col-1">
                            @_localizer["Active?"]
                        </th>
                        <th class="col-3">
                            @_localizer["Options"]
                        </th>
                        <th class="col-3">
                            @_localizer["Message"]
                        </th>
                    </tr>

                    @foreach (Supplier item in Model.Suppliers)
                    {
                        <tr class="d-flex">
                            <td class="col-1">
                                @item.Id
                            </td>
                            <td class="col-3">
                                @item.Name
                            </td>
                            <td class="col-1">
                                @if (@item.IsBatchSupplier)
                                {
                                    <span class="fas fa-check fa-2x text-info"></span>
                                }
                                else
                                {
                                    <span></span>
                                }
                            </td>
                            <td class="col-1">
                                @if (@item.Status == true)
                                {
                                    <span class="fas fa-check fa-2x text-info"></span>
                                }
                                else
                                {
                                    <span></span>
                                }
                            </td>
                            <td class="col-3">
                                <a asp-controller="Suppliers" asp-action="EditSupplier" asp-route-id="@item.Id" class="btn btn-warning">@_localizer["Edit"]</a>
                                @*<a asp-controller="Suppliers" asp-action="DeleteSupplier" asp-route-id="@item.Id" class="btn btn-danger">@_localizer["Delete"]</a>*@
                                <a asp-controller="Suppliers" asp-action="DetailSupplier" asp-route-id="@item.Id" class="btn btn-secondary">@_localizer["Details"]</a>
                            </td>
                            <td class="col-3">
                                <span></span>
                            </td>
                        </tr>
                    }
                </table>
                <div>
                    @if (Model.Pages < 6)
                    {
                        for (int i = 1; i <= Model.Pages; i++)
                        {
                            <a asp-controller="Suppliers" asp-action="Index"
                               asp-route-status="@Model.Status" asp-route-batch="@Model.Batch"
                               asp-route-page="@i" asp-route-perPage="@Model.perPage"
                               class="@(Model.Page==i?"btn btn-outline-dark":"btn btn-light")">@i</a>
                        }
                    }
                    else
                    {
                        if (Model.Page < 4)
                        {
                            for (int i = 1; i < 4; i++)
                            {
                                <a asp-controller="Suppliers" asp-action="Index"
                                   asp-route-status="@Model.Status" asp-route-batch="@Model.Batch"
                                   asp-route-page="@i" asp-route-perPage="@Model.perPage"
                                   class="@(Model.Page==i?"btn btn-outline-dark":"btn btn-light")">@i</a>
                            }
                            <a asp-controller="Suppliers" asp-action="Index"
                               asp-route-status="@Model.Status" asp-route-batch="@Model.Batch"
                               asp-route-page="@(Model.Page+1)" asp-route-perPage="@Model.perPage"
                               class="btn btn-light">>></a>
                            <a asp-controller="Suppliers" asp-action="Index"
                               asp-route-status="@Model.Status" asp-route-batch="@Model.Batch"
                               asp-route-page="@(Model.Pages)" asp-route-perPage="@Model.perPage"
                               class="btn btn-light">@Model.Pages</a>
                        }
                        else if (Model.Page > Model.Pages - 3)
                        {
                            <a asp-controller="Suppliers" asp-action="Index"
                               asp-route-status="@Model.Status" asp-route-batch="@Model.Batch"
                               asp-route-page="1" asp-route-perPage="@Model.perPage"
                               class="btn btn-light">1</a>
                            <a asp-controller="Suppliers" asp-action="Index"
                               asp-route-status="@Model.Status" asp-route-batch="@Model.Batch"
                               asp-route-page="@(Model.Page-1)" asp-route-perPage="@Model.perPage"
                               class="btn btn-light">@("<<")</a>
                            @for (int k = Model.Pages - 2; k <= Model.Pages; k++)
                            {
                                <a asp-controller="Suppliers" asp-action="Index"
                                   asp-route-status="@Model.Status" asp-route-batch="@Model.Batch"
                                   asp-route-page="@k" asp-route-perPage="@Model.perPage"
                                   class="@(Model.Page==k?"btn btn-outline-dark":"btn btn-light")">@k</a>
                            }
                        }
                        else
                        {
                            <a asp-controller="Suppliers" asp-action="Index"
                               asp-route-status="@Model.Status" asp-route-batch="@Model.Batch"
                               asp-route-page="1" asp-route-perPage="@Model.perPage"
                               class="btn btn-light">1</a>
                            <a asp-controller="Suppliers" asp-action="Index"
                               asp-route-status="@Model.Status" asp-route-batch="@Model.Batch"
                               asp-route-page="@(Model.Page-1)" asp-route-perPage="@Model.perPage"
                               class="btn btn-light">@("<<")</a>
                            <a asp-controller="Suppliers" asp-action="Index"
                               asp-route-status="@Model.Status" asp-route-batch="@Model.Batch"
                               asp-route-page="@Model.Page" asp-route-perPage="@Model.perPage"
                               class="btn btn-outline-dark">@Model.Page</a>
                            <a asp-controller="Suppliers" asp-action="Index"
                               asp-route-status="@Model.Status" asp-route-batch="@Model.Batch"
                               asp-route-page="@(Model.Page+1)" asp-route-perPage="@Model.perPage"
                               class="btn btn-light">>></a>
                            <a asp-controller="Suppliers" asp-action="Index"
                               asp-route-status="@Model.Status" asp-route-batch="@Model.Batch"
                               asp-route-page="@(Model.Pages)" asp-route-perPage="@Model.perPage"
                               class="btn btn-light">@Model.Pages</a>
                        }
                    }
                </div>
            </td>
            <td class="col-2">
            </td>
        </tr>
    </table>
</div>