@inject IViewLocalizer _localizer
@model TankCreateViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>@_localizer["Edit Tank"]</h1>
</div>


<table class="table">
    <tr class="d-flex">
        <td class="col-2"></td>
        <td class="col-8">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="EditTank" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Tank.Id" class="control-label"></label>
                            <input disabled asp-for="Tank.Id" class="form-control" />
                            <input hidden asp-for="Tank.Id" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Tank.Name" class="control-label"></label>
                            <input asp-for="Tank.Name" class="form-control" />
                            <span asp-validation-for="Tank.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tank.Lenght" class="control-label"></label>
                            <span>@_localizer["[m]"]</span>
                            <input asp-for="Tank.Lenght" class="form-control" />
                            <span asp-validation-for="Tank.Lenght" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tank.Width" class="control-label"></label>
                            <span>@_localizer["[m]"]</span>
                            <input asp-for="Tank.Width" class="form-control" />
                            <span asp-validation-for="Tank.Width" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tank.Depth" class="control-label"></label>
                            <span>@_localizer["[m]"]</span>
                            <input asp-for="Tank.Depth" class="form-control" />
                            <span asp-validation-for="Tank.Depth" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tank.Volume" class="control-label"></label>
                            <span>@_localizer["[m^3]"]</span>
                            <input asp-for="Tank.Volume" class="form-control" />
                            <span asp-validation-for="Tank.Volume" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tank.SurfaceArea" class="control-label"></label>
                            <span>@_localizer["[m^2]"]</span>
                            <input asp-for="Tank.SurfaceArea" class="form-control" />
                            <span asp-validation-for="Tank.SurfaceArea" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tank.Shape" class="control-label"></label>
                            <select asp-for="Tank.Shape" asp-items="Html.GetEnumSelectList<TankShape>()" class="form-control">
                                <option hidden selected value="@Model.Tank.Shape">@Enum.GetName(typeof(TankShape), Model.Tank.Shape)</option>
                            </select>
                            <span asp-validation-for="Tank.Shape" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tank.Section" class="control-label"></label>
                            <select asp-for="Tank.SectionId" class="form-control">
                                <option hidden selected value="@Model.Tank.SectionId">@Model.Sections.Where(s => s.Id == Model.Tank.SectionId).FirstOrDefault().Name</option>
                                @foreach (Section item in Model.Sections)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                            <span asp-validation-for="Tank.SectionId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="@_localizer["Edit"]" class="btn btn-warning" />
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <a asp-action="Index">@_localizer["Back to tanks"]</a>
            </div>
        </td>
        <td class="col-2"></td>
    </tr>
</table>

