@inject IViewLocalizer _localizer
@model TankIndexViewModel

<div class="container">
    <h1>@_localizer["All Tanks"]</h1>
</div>

<a asp-controller="Tanks" asp-action="CreateTank" class="btn btn-primary">@_localizer["Create New"]</a>
@TempData["TankMessage"]
<div>
    <table class="table">
        <tr class="d-flex">
            <td class="table- col-2">
            </td>
            <td class="col-8">
                <table class="table table-bordered">
                    <tr class="d-flex">
                        <th class="col-1">
                            @_localizer["Id"]
                        </th>
                        <th class="col-2">
                            @_localizer["Name"]
                        </th>
                        <th class="col-3">
                            @_localizer["Section"]
                        </th>
                        <th class="col-3">
                            @_localizer["Options"]
                        </th>
                        <th class="col-3">
                            @_localizer["Message"]
                        </th>
                    </tr>

                    @foreach (Tank item in Model.Tanks)
                    {
                        <tr class="d-flex">
                            <td class="col-1">
                                @item.Id
                            </td>
                            <td class="col-2">
                                @item.Name
                            </td>
                            <td class="col-3">
                                @item.Section.Name
                            </td>
                            <td class="col-3">
                                <a asp-controller="Tanks" asp-action="EditTank" asp-route-id="@item.Id" class="btn btn-warning">@_localizer["Edit"]</a>
                                <a asp-controller="Tanks" asp-action="DeleteTank" asp-route-id="@item.Id" class="btn btn-danger">@_localizer["Delete"]</a>
                                <a asp-controller="Tanks" asp-action="DetailTank" asp-route-id="@item.Id" class="btn btn-secondary">@_localizer["Details"]</a>
                            </td>
                            <td class="col-3">
                                <span></span>
                            </td>
                        </tr>
                    }
                </table>
            </td>
            <td class="col-2">
            </td>
        </tr>
    </table>
</div>